*, *::before, *::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: #f6f0ff;
  font-family: Arial, sans-serif;
  color: #181320;
}

button,
input,
textarea,
select {
  font-family: inherit;
}